*{
    padding: 0%;
    margin: 0%;
}
/*fontes*/
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

body{
    min-height: 100vh;
    background-color: white;
}
header{
    background-color: black;
    padding: 50px;
}
header h1{
    color: white;
    font-family: 'Passion One', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 54px;
}
header p{
    text-align: center;
    font-family: 'Sriracha', cursive;
    color: white;
}
main p{
    font-family: 'Sriracha', cursive;
    color: black;
    margin-bottom: 10px;
   
}
.texto1{
    font-family: 'Sriracha', cursive;
    padding: 10px;
    color: white;
    margin-left: 30px;
    margin-bottom: 10px;
    position: absolute;
    transform: translate(-20px -20px);
    background-color: rgba(0, 0, 0, 0.438);
    
}
a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
}
.texto0{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
}
.texto03{
    padding-top: 10vh;
    padding-bottom: 10vh;
}
